<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <link rel="icon" href="icons/alien.png" type="image/png">
</head>

<body>
    <br>
    <br>
    <div class="cont">
        <div class="form sign-in">
            <h2>Bem vindo!</h2>
            <label>
                <span>Email</span>
                <input type="email" />
            </label>
            <label>
                <span>senha</span>
                <input type="password" />
            </label>
            <p class="forgot-pass">Esqueceu a senha?</p>
            <button type="button" class="submit" id="verificar">verificar</button>
            <div class="Error" id="errorSenha" style="display: none;">Senha incorreta.</div>

            <script>
                var botao = document.getElementById("verificar");
                var texto = document.getElementById("errorSenha");

                //     <---- codigo incorreta ---->
                // adicionar verificação de codigo

                botao.addEventListener("click", function () {
                    if (texto.style.display === "none") {
                        texto.style.display = "block";
                    }
                });
            </script>
        </div>

        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">

                    <h3>Não tem uma conta? inscreva se!<h3>
                </div>
                <div class="img__text m--in">

                    <h3>Se você já tem uma conta, faça login.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Criar conta</span>
                    <span class="m--in">Login</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Crie sua conta!</h2>
                <label>
                    <span id="nome_criarconta">Nome</span>
                    <input type="text" />
                </label>
                <label>
                    <span id="email_criarconta">Email</span>
                    <input type="email" />
                </label>
                <label>
                    <span id="senha_criarconta">Senha</span>
                    <input type="password" />
                </label>
                <button type="button" class="submit" id="criarContar" onclick="criarConta()">Criar conta</button>
                <div class="criar" id="contaCriada" style="display: none;">Conta criada</div>

                <script>
                    var botao2 = document.getElementById("criarContar");
                    var texto2 = document.getElementById("contaCriada");

                    //     <---- codigo incorreta ---->
                    // adicionar verificação de codigo

                    botao2.addEventListener("click", function () {
                        if (texto2.style.display === "none") {
                            texto2.style.display = "block";
                        }
                    });
                </script>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function () {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>

    <script>
        function criarConta() {
            const nome = document.getElementById("nome_criarconta");
            const email = document.getElementById("email_criarconta");
            const senha = document.getElementById("senha_criarconta");

            const data = {
                nome: nome,
                email: email,
                senha: senha
            };

            fetch('http://localhost:9013', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            }).then(response =>{
                if(!response.ok) {
                    throw new Error('Erro ao criar conta');
                }
                return response.json();
            }).then(data => {
                alert('Conta criada com sucesso.');
            }).catch((error) => {
                console.log('Erro: ', error);
                alert('Erro ao criar conta');
            })

        }
    </script>
</body>

</html>